<%- include header %>





<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <%- include left %>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have JavaScript enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/">主页</a>
                    </li>
                    <li>
                        <a href="#">班级管理</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> 班级管理</h2>


                        </div>
                        <div class="box-content">
                                <div class="box-content">
                                        <a class="btn btn-primary btn-setting" href="#"><i class="glyphicon glyphicon-plus icon-white"></i> 新增班级</a>
                                        <form class="navbar-search pull-right">
                                                <input placeholder="Search" class="search-query form-control col-md-10" name="query" type="text">
                                        </form>
                                </div>
                            <table class="table table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>班名</th>
                                        <th>班主任</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <% classeslist.forEach(function(value){ %>
                                    <tr>
                                        <td><%= value['c_name'] %></td>
                                        
                                        <td class="center"><%= value['w_name'] %></td>
                                        
                                        <td class="center">
                                            <a class="btn btn-success" href="#">
                                                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                                查看
                                            </a>
                                            <a class="btn btn-info" href="#">
                                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                                编辑
                                            </a>
                                            <a class="btn btn-danger" href="#">
                                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                                删除
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                    <%- include page %>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/span-->

            </div>

            <!-- content ends -->
        </div>
        <!--/#content.col-md-0-->
    </div>
    <!--/fluid-row-->


</div>
<!--/.fluid-container-->


<%- include footer %>